<html>
<head>
<title>Dominus</title>
<link rel="stylesheet" href="/static/Skeleton-2.0.4/css/skeleton.css"/>
<link rel="stylesheet" href="/static/Skeleton-2.0.4/css/normalize.css"/>
<link rel="stylesheet" href="/static/css/dominus.css">
<link rel="stylesheet" href="/static/css/rating.css">

<script
  src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
  crossorigin="anonymous"></script>
{% block javascript %}
{% endblock %}
</head>
<body>
  {% block body %}
  default body content
  {% endblock %}
</body>
<script type="application/javascript" src="/static/js/dominus.js"></script>
</html>
