{% extends 'layout.html' %}
{% block javascript %}
<script>
window.onload = function() {
  var player = document.getElementById('player');
  player.play();
  console.log('playing');
  player.addEventListener('ended', function(e) {
    console.log('playback ended');
    window.location = '/next/';
  });
}
</script>
{% endblock %}
{% block main_content %}
<h1>Play it</h1>
<audio id="player" controls>
 <source src="/music/{{filename}}/" type="audio/mp3" autoplay="true">
 Your browser does not support audio
</audio>
<form method="POST" action="/next/">
  <input type="submit" value="next"></input>
</form>
{% endblock %}
