{% extends 'layout.html' %}
{% block javascript %}
<script>
window.onload = function() {
  var player = document.getElementById('player');
  player.play();
  console.log('playing');
  player.volume = 0.3;

  document.addEventListener('keyup', function(e) {
    if(e.keyCode == 38) {
      player.volume += 0.1;
      console.log("Volume up", player.volume);
    } else if(e.keyCode == 40) {
      player.volume -= 0.1;
      console.log("Volume down", player.volume);
    } else if(e.keyCode == 32) {
      if(player.paused) {
        player.play()
      } else {
        player.pause();
      }
    }
    console.log("Got key", e.ctrlKey, e.keyCode);
  }, false);

  if(player.error) {
    console.log('error');
  }
  player.addEventListener('abort', function(e) {
    console.log("Abort");
  });
  player.addEventListener('error', function(e) {
    console.log("error event");
  });
  player.addEventListener('ended', function(e) {
    console.log('playback ended');
    nextTrack();
  });
}
function nextTrack() {
  var player = document.getElementById('player');
  console.log("Song was ", player.currentTime / player.duration, "% complete");
  document.getElementById('currentTime').value = player.currentTime;
  document.next.submit();
}
</script>
{% endblock %}
{% block main_content %}
{% set navigation = [
  ("Minstrel", "/"),
  ("Track", "/track/"),
  (track.uuid, ""),
  ] %}
{% include "nav.html" %}
<h1>{{track.path}}</h1>
<h2>{{mood}}</h2>
<audio id="player" controls>
 <source src="{{track.path|urlencode}}/" type="audio/mp3" autoplay="true">
 Your browser does not support audio
</audio>
<form name="next" method="POST" action="/next/">
  <input type="hidden" id="currentTime" name="currentTime" value="0">
  <input type="hidden" name="track" value="{{ track.uuid }}">
</form>
<button type="submit" value="next" onClick="nextTrack()">Next</button>
{% endblock %}
